server:
  port: 7001

eureka:
  instance:
    hostname: eureka7001.com #eureka服务端的实例名称
  client:
    register-with-eureka: false #false表示不向注册中心注册自己
    fetch-registry: false #false表示自己就是注册中心 不需要检索服务
    service-url:
      #设置与eureka server交互的地址
      defaultZone: http://eureka7002.com:7002/eureka/

  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 2000